package pages

templ Login() {
	<form>
		<label for="">Username</label>
		<input type="text" name="username" id="username"/>
		<label for="">Password</label>
		<input type="text" name="username" id="username"/>
		<button type="submit">Login</button>
	</form>
}
